/*Setear página*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Estilos generales*/
body {
  background-color: #E6ECF0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #14171a;
}

.container {
  position: relative;
  margin: 0 5%;
  /*outline: 1px solid green;*/
  overflow: auto;
  width: 90%;
}

/*Dando estilo al header*/
header {
  background-color: #fff;
  border-bottom: 1px solid #00000040;
  font-weight: 900;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

header .container {
  height: 100%;
  text-align: center;
  width: auto;
  padding: 0 14px;
}

.subcontainer {
  padding: 10px 0;
}

.nav {
  float: left;
  display: inline-block;
  padding-top: 20px;
}

.nav ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

.nav-bar {
  float: left;
  list-style: none;
  padding-right: 20px;
}

.nav-bar a {
  color: #66757f;
  text-decoration: none;
}

.nav-bar a i {
  padding-right: 10px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 21px;
  padding-top: 25px;
}

.extra {
  float: right;
  text-align: left;
}

.extra ul li {
  float: left;
  list-style: none;
}

.avatar {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
}

.search-box {
  position:relative;
}

.search-box input {
  background-color: #f5f8fa;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  font-size: 12px;
  padding: 8px 32px 8px 12px;
}

.icon-search {
  cursor: pointer;
  display: block;
  height: 26px;
  position: absolute;
  right: 3px;
  top: 6px;
  width: 26px;
}

.btn {
  background-color: #4AB3F4;
  border-color: transparent;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  color: #fff;
}

/*Seccion principal*/
section {
  height: 100%;
}

section .container {
  padding: 64px 14px 15px;
}

.dashboard {
  float: left;
  width: 290px;
  /*outline: 1px solid black;*/
}

/*Primera seccion Izq*/
.profileCard {
  border: 1px solid #e6ecf0;
  background: #fff;
  position: relative;
  /*outline: 1px solid red;*/
}

.fondo {
  height: 95px;
  width: 100%;
  padding: 0;
  background-image: url(../assets/images/fondo.jpg);
  background-size: cover;
}

.photo {
  background-image: url(../assets/images/foto.jpg);
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: 3px solid white;
  position: absolute;
  top: 50px;
  left: 13px;
}

.date{
  position: relative;
  padding-left: 115px;
}

.nick {
  font-weight: 700;
  font-size: 18px;
}

.user {
  color: #657796;
  font-size: 14px;
}

table {
  margin: 10px;
}

.textP{
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: #657796;
}

.number{
  color: #66a1f2;
  font-weight: bold;
  font-size: 18px;
  width: 100px;
  text-align: left;
}

/*Seccion central*/

.main {
  margin: 0 10px;
  width: 508px;
}

.tweet-box {
  background-color: #E8F5FD;
  padding: 10px;
}

textarea {
  border-radius: 8px;
  border: 1px solid #83CBF7;
  font-size: 14px;
  width: 100%;
  padding: 5px;
  background-color: white;
  resize: none;
  outline: none;
  overflow: hidden;
}

#cont {
  display: inline-block;
  padding: 10px 0;
  font-weight: 600;
  color: #6f7d86;
}

#send-tweet {
  background-color: #1DA1F2;
  border: none;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  right: 0;
  font-weight: 900;
  display: inline-block;
  height: 30px;
  padding: 0 16px;
  margin-left: 366px;
}

.paragraph {
  padding: 9px 12px;
  background: #F5F8FA;
}

.stream-item {
  padding: 9px 12px;
  background: #F5F8FA;
  text-align: center;
  color: #66a1f2;
}

.stream-header {
  padding: 9px 12px;
  background: #FFFFFF;
  text-align: left;
  color: #000;
  font-size: 18px;
  font-weight: 900;
}
/*Tercera sección derecha*/
.module {
  padding: 10px;
}
